<%= link_to 'New Post', new_post_path %>

<h2>Projects</h2>
<ul>
	<% @posts.each do |post| %>
		<li>
			<p><%= link_to post.title, post_path(post) %></p>
			<p><%= post.author %></p>
			<p><%= post.content %></p>
	<% end %>
</ul>
